html {
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: #860718ff;
}

p {
    color: white;
    text-align: justify;
    margin: 0 4rem;
}

h3 {
    color: rgb(237, 208, 208);
    font-size: 100%;
}

#landing-section {
    height: 100vh; width: 100%;
    background: linear-gradient(180deg, #e72c3dff, #860718ff);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-section {
    height: 90%; width: 50%;
    
}

.left-section img {
    height: 100%; width: auto;
    z-index: 1;
}

.display-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-title {
    color: white;
    font-size: 4.1rem;
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.right-section {
    width: 50%; height: 100%;
    flex-direction: column;
    align-items: start;
    transform: translateX(-10%);
}

.new-life-button {
    height: 8vh;
    width: 26vh;
    background-color: black;
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    border-radius: 5vh;
    box-shadow: rgba(0, 0, 0, 0.941) 0 0 8px;
    transition: ease-in-out 0.2s;
}

.new-life-button:hover {
    transform: scale(1.04);
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

/* ================= DIVIDER ================= */

.section-divider {
    height: 2vh; width: 80%;
    background-color: rgb(237, 233, 233);
    border-radius: 10vh;
    margin: 4rem auto;
    box-shadow: rgba(36, 3, 3, 0.89) 0 0 20px 1px;
}

.divider-API-APIS {
    width: 100%;
    height: 10h;
    background: linear-gradient(180deg, #e72c3dff, #860718ff);
}

/* ================================== DISPLAY API SECTION =================================== */

.select-API-container {
    height: 100vh; width: 100%; max-width: 100%;
    background-color: #860718ff;
    background: linear-gradient(180deg, #860718ff, #e72c3dff);
    margin: 0;
    flex-direction: column;
    /* margin-bottom: 5rem; */
}

#APIS {
    width: 100%;
    height: auto;
    margin: 0; padding: 0;
}

.tab-content {
    padding-top: 4rem;
}

.tabs {
    width: 100%;
    margin: 0;
    position: relative;
    margin-bottom: 3rem;
}

.select-API-container h1 {
    margin-bottom: 3rem;
}

.tab-button {
    height: 70vh; width: 25vw;
    margin: 0 2rem;
    border: black solid 4px;
    border: 1px solid rgba(255, 255, 255, 0.101);
    background-color: rgba(255, 255, 255, 0.222);
    box-shadow: 0 9px 32px 0 rgba(210, 210, 212, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 4rem;
    transition: ease-in-out 0.2s;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
}

.tab-button:hover {
    box-shadow: 0 9px 32px 0 rgba(198, 145, 201, 0.885);
    transform: scale(1.03);
    backdrop-filter: blur(8px);
}

.active {
    box-shadow: 0 0px 42px 8px rgba(224, 154, 227, 0.916);
    border: 4px solid;
    display: block;
}

.tab-button img {
    filter: invert(1);
}

.wave-background {
    position: absolute;
    height: 75%;
    width: 100%;
    margin-bottom: 12rem;
}

/* ================================== API EJERCICIO =================================== */

.search-section {
    flex-direction: column;
}

.search-container {
    justify-content: space-evenly;
    width: 80%;
}

.search-btn {
    border-radius: 50%;
    text-align: center;
    box-shadow: rgba(21, 9, 9, 0.669) 0 0 12px 3px;
    border: none;
    background: url(assets/search.png);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    height: 5rem; width: 5rem;
    background-color: white;
    transition: ease-in-out 0.2s;
}

.search-btn:hover {
    background-color: rgb(235, 231, 231);
    transform: scale(1.05);
}

.search-input {
    background-color: white;
    border-radius: 5vh;
    text-align: center;
    box-shadow: rgba(21, 9, 9, 0.669) 0 0 12px 3px;
    border: none;
    width: 60%; height: 5vh;
}

.exercise-filters {
    margin: 2rem;
    gap: 4rem;
}

select {
    width: calc(max-width + 5rem);
    border-radius: 5vh;
    height: 3.5vh;
    box-shadow: rgba(21, 9, 9, 0.669) 0 0 12px 3px;
    border: none;
    background-color: rgb(248, 154, 82);
    color: white;
    text-align: center;
}

/* ============================================= ESTILOS DE LASS TARJETAS DE COMIDAS ===================================== */

/* <img class="meals-img" src="${meal.strMealThumb}" alt="${meal.strMeal}">
<div>
    <h3 class="meals-h3" >${meal.strMeal}</h3>
    <p><strong>Categora:</strong> ${meal.strCategory}</p>
    <p><strong>areea :</strong> ${meal.strArea}</p>
    <details>
        <summary>Ver ingredientes</summary>
        <ul> ${ingredients.map(ing => `<li>${ing}</li>`).join('')} </ul>
    </details>
    <details>
        <summary>Ver instrucciones</summary>
        <p>${meal.strInstructions}</p>
    </details>
    ${meal.strYoutube ? `<a  class="youtube-btn" href="${meal.strYoutube}" target="_blank">Watch on YouTube!</a>` : ''}
</div> `; */

/* ========================================================================================================================= */

.results-grid {
    /* background-color: bisque; */
    width: 100%;
    height: auto;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
    padding: 2rem;
    margin-top: 5rem;
}

.meal-card {
    height: max-content;
    height: auto;
    width: 25rem;
    background-color: white;
    border-radius: 5vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 60%;
    justify-items: center;
    align-items: center;

    border: 1px solid rgba(255, 255, 255, 0.101);
    background-color: rgba(255, 255, 255, 0.39);
    box-shadow: 0 9px 32px 0 rgba(210, 210, 212, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 4rem;
    transition: ease-in-out 0.2s;
}

.meal-card:hover {
    transform: scale(1.035);
    box-shadow: 0 0 20px 0 rgb(255, 255, 255, 0.6);

}

.meals-h3 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    transform: translateY(-20%);
    filter: drop-shadow(black 1px 1px 1px);
}

.meals-img {
    height: 30vh;
    width: auto;
    border-radius: 5vh;
}

.meal-card-body {
    height: 95%;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
}

.youtube-btn {
    height: 5vh;
    width: 15vh;
    background-color: red;
    border-radius: 5vh;
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    text-align: center; 
    transition: ease-in-out 0.2s; 
}

.youtube-btn:hover {
    box-shadow: black 1px 1px 3px;
    transform: scale(1.04);
}

summary, ul, li {
    color: white;
    font-family: "Montserrat", sans-serif;
}


/* ============================================= ESTILOS DE LASS TARJETAS DE COMIDAS ===================================== */

.health-card {
    background-color: white;
    height: auto;
    width: 40rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 8vh;
    padding: 3rem;
    box-shadow: black 1px 1px 10px;
}

.see-details-btn {
    border-radius: 3vh;
    border: none;
    background-color: azure;
    box-shadow: rgb(17, 17, 17) 1px 1px 5px;
}

/* ========================================================================================================================= */

@media screen and (max-width: 768px) {

    #landing-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }

    .right-section {
        height: 90%;
        width: 100%;
        margin-left: 5rem;
        gap: 5vh;
    }

    .left-section {
        height: 10%;
    }

    .left-section img {
        height: 24rem; width: auto;
        z-index: 0;
        position: absolute;
        filter: opacity(0.5);
        transform: translateY(80%);
    }

    .new-life-button {
        margin: 0 auto;
    }
    
    .landing-title {
        font-size: 2.5rem;
        text-align: center;
    }
    .new-life-button {
        width: 20vh;
        height: 6vh;
        font-size: 0.9rem;
    }

    .tabs {
        flex-direction: column;
    }
    .tab-button {
        width: 80%;
        height: auto;
        margin: 1rem 0;
    }

    .results-grid {
        flex-direction: column;
        gap: 6rem;
        padding: 1rem;
    }

    .search-container {
        flex-direction: column;
        gap: 1rem;
    }
    .exercise-filters {
        flex-wrap: wrap;
        width: 100%;
    }
}

/* ================================================= DISPLAY EXRCIEECES EJERCICIOS ===================================== */

/* 

<img src="${exercise.gifUrl}" alt="${exercise.name}">
            <div>
                <h3>${exercise.name}</h3>
                <p><strong>Grupo muscular:</strong> ${exercise.target}</p>
                <p><strong>Parte del cuerpo suculento:</strong> ${exercise.bodyPart}</p>
                <p><strong>Equipo:</strong> ${exercise.equipment}</p>
                <details>
                    <summary>Ver innstructions</summary>
                    <ol>  ${exercise.instructions.map(inst => `<li>${inst}</li>`).join('')} </ol>
                </details>
            </div> `;

*/

.exercise-card {
    background-color: white;
    height: auto;
    width: 40rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 8vh;
    padding: 3rem;
    box-shadow: black 1px 1px 10px;
}