body {
    margin: 0;
    overflow-x: hidden;
}
#landing-section {
    height: 100vh; width: 100%;
    background: linear-gradient(180deg, #e72c3dff, #860718ff);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-section {
    height: 90%; width: 50%;
    
}

.left-section img {
    height: 100%; width: auto;
    z-index: 1;
}

.display-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: 4.1rem;
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.right-section {
    width: 50%; height: 90%;
    flex-direction: column;
    align-items: start;
    transform: translateX(-10%);
}

.new-life-button {
    height: 12vh;
    width: 26vh;
    background-color: black;
    text-decoration: none;
    color: white;
    font: "Montserrat", sans-serif;
    border-radius: 5vh;
    box-shadow: rgba(0, 0, 0, 0.941) 0 0 8px;
}